.head__section {
  position: relative;
  min-height: 100vh;
  min-height: 100svh;
  padding: 128px 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.head__section .container {
  position: relative;
  z-index: 1;
}
.head__bg-holder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.head__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: right;
  object-position: right;
  object-view-box: inset(0% 20% 0% 0%);
}
.head__title-holder {
  overflow: hidden;
}
.head__title {
  font-size: 32px;
  line-height: 125%;
  font-family: var(--cstm-body-font-family-secondary);
  margin: 0 0 20px;
  font-weight: 900;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  max-width: 375px;
  color: var(--cstm-body-color-secondary);
  -webkit-transform: translateY(120%);
  -ms-transform: translateY(120%);
  transform: translateY(120%);
}
.head__text {
  font-size: 18px;
  line-height: 133.3333333333%;
  font-weight: 500;
  margin: 0 0 40px;
  max-width: 556px;
  opacity: 0;
}
.head__btn {
  width: 100%;
  -webkit-transform: translateY(-40%);
  -ms-transform: translateY(-40%);
  transform: translateY(-40%);
  max-width: 400px;
  opacity: 0;
}

@media (min-width: 768px) {
  .head__section {
    padding: 100px 0;
  }
  .head__bg {
    object-view-box: unset;
  }
  .head__title {
    font-size: 52px;
    line-height: 124%;
    max-width: 800px;
    letter-spacing: 0;
  }
  .head__text {
    font-size: 20px;
    line-height: 140%;
  }
  .head__btn {
    width: auto;
  }
}
.services__section {
  position: relative;
  z-index: 1;
  padding: 40px 0 80px;
}
.services__head {
  margin-bottom: 40px;
}
.services__slider .swiper-slide {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: auto !important;
}
.services__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 16px;
  margin-top: 40px;
}
.services__nav_desktop {
  display: none;
}
.services__btn {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: solid 1px var(--cstm-body-border-color-primary);
  -webkit-transition: opacity 0.25s linear;
  transition: opacity 0.25s linear;
}
.services__btn.swiper-button-disabled {
  opacity: 0.35;
  pointer-events: none;
}
.services__pagination {
  display: none;
}
.services__item-holder {
  position: relative;
  padding-top: 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}
.services__num {
  position: absolute;
  top: 0;
  font-family: var(--cstm-body-font-family-secondary);
  font-size: 56px;
  line-height: 100%;
  font-weight: 600;
  color: var(--cstm-body-color-accent);
}
.services__item {
  position: relative;
  z-index: 1;
  background: rgba(174, 174, 174, 0.08);
  -webkit-backdrop-filter: blur(24px);
  backdrop-filter: blur(24px);
  border-radius: 20px;
  padding: 32px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  height: 100%;
}
.services__icon {
  height: 80px;
  margin-bottom: 32px;
}
.services__icon img {
  height: 100%;
  width: auto;
  display: block;
}
.services__name {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 24px;
  line-height: 133.3333333333%;
  color: var(--cstm-body-color-secondary);
}

@media (min-width: 768px) {
  .services__head {
    margin-bottom: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .services__section {
    padding: 100px 0;
  }
  .services__nav {
    margin-top: 0;
  }
  .services__nav_desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .services__nav_mobile {
    display: none;
  }
  .services__btn {
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .services__btn path {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .services__btn:hover {
    background: var(--cstm-body-background-accent);
  }
  .services__btn:hover path {
    fill: var(--cstm-body-color-primary-inverted);
  }
  .services__pagination {
    display: block;
    position: relative;
    bottom: 0 !important;
    top: 0 !important;
    margin-top: 40px;
  }
  .services__pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: none;
    border: solid 1px var(--cstm-body-border-color-primary);
    opacity: 1;
  }
  .services__pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: var(--cstm-body-background-accent);
  }
  .services__item-holder {
    padding-top: 45px;
  }
  .services__num {
    font-size: 64px;
  }
  .services__item {
    padding: 40px;
  }
  .services__name {
    margin-bottom: 24px;
    font-size: 26px;
    line-height: 123.0769230769%;
  }
  .services__icon {
    height: 100px;
  }
}
.book__section {
  padding: 80px 0 160px;
}
.book__title {
  max-width: 600px;
  margin-bottom: 20px;
}
.book__text {
  max-width: 600px;
}
.book__col:nth-of-type(1) {
  margin-bottom: 40px;
}
.book__calendly {
  border: solid 1px var(--cstm-body-border-color-primary);
  border-radius: 32px;
  overflow: hidden;
  padding: 7px 22px 0;
}

@media (min-width: 768px) {
  .book__section {
    padding: 100px 0 200px;
  }
  .book__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .book__col:nth-of-type(1) {
    max-width: 600px;
    width: 100%;
    padding-top: 130px;
  }
  .book__col:nth-of-type(2) {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    max-width: 488px;
  }
  .book__calendly {
    padding-top: 15px;
  }
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 101;
}
.header .container {
  position: relative;
  z-index: 1;
}
.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 125%;
  pointer-events: none;
  background: rgb(0, 0, 0);
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0)), color-stop(40%, rgba(0, 0, 0, 0.4)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 40% rgba(0, 0, 0, 0.8) 100%);
  display: block;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.header_faded:before {
  opacity: 1;
}
.header_faded .header__row {
  padding-top: 16px;
}
.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 48px 0 16px;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header__logo {
  display: block;
  height: 24px;
}
.header__logo img {
  height: 100%;
  width: auto;
  display: block;
}
.header__menu {
  position: absolute;
  width: 100vw;
  padding: 48px 20px;
  bottom: 0;
  left: -20px;
  -webkit-transform: translateY(150%);
  -ms-transform: translateY(150%);
  transform: translateY(150%);
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
  transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
  transition: transform 0.5s ease, opacity 0.5s ease;
  transition: transform 0.5s ease, opacity 0.5s ease, -webkit-transform 0.5s ease;
}
.header__menu ul {
  list-style: none;
}
.header__menu li {
  color: var(--cstm-body-color-secondary);
}
.header__menu li:not(:last-of-type) {
  margin-bottom: 48px;
}
.header__menu a {
  color: inherit;
  text-decoration: none;
}
.header__toggler {
  margin-left: auto;
  position: relative;
  width: 24px;
  height: 16px;
}
.header__toggler span {
  height: 3px;
  width: 100%;
  border-radius: 3px;
  background: var(--cstm-body-background-primary-inverted);
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.header__toggler span:nth-of-type(1) {
  -webkit-transform: translate(-50%, -250%) rotate(0deg);
  -ms-transform: translate(-50%, -250%) rotate(0deg);
  transform: translate(-50%, -250%) rotate(0deg);
}
.header__toggler span:nth-of-type(2) {
  -webkit-transform: translate(-30%, -50%) rotate(0deg);
  -ms-transform: translate(-30%, -50%) rotate(0deg);
  transform: translate(-30%, -50%) rotate(0deg);
  width: 72%;
}
.header__toggler span:nth-of-type(3) {
  -webkit-transform: translate(-50%, 150%) rotate(0deg);
  -ms-transform: translate(-50%, 150%) rotate(0deg);
  transform: translate(-50%, 150%) rotate(0deg);
}
.header_active .header__menu {
  opacity: 1;
  pointer-events: all;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
}
.header_active .header__toggler span:nth-of-type(1) {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
.header_active .header__toggler span:nth-of-type(2) {
  opacity: 0;
}
.header_active .header__toggler span:nth-of-type(3) {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}

@media (min-width: 768px) {
  .header__row {
    padding: 32px 0;
  }
  .header_faded .header__row {
    padding-top: 32px;
  }
  .header__logo {
    height: 36px;
  }
  .header__menu {
    position: relative;
    width: auto;
    padding: 0;
    left: 0;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    pointer-events: all;
    opacity: 1;
    margin-left: auto;
  }
  .header__menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__menu li:not(:last-of-type) {
    margin-bottom: 0;
    margin-right: 48px;
  }
  .header__menu a {
    position: relative;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
  }
  .header__menu a:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background: var(--cstm-body-background-accent);
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: right;
    -ms-transform-origin: right;
    transform-origin: right;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  }
  .header__menu a:hover {
    opacity: 0.5;
  }
  .header__menu a:hover:after {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
  }
  .header__toggler {
    display: none;
  }
}
.footer {
  border-top: solid 1px var(--cstm-body-border-color-secondary);
  padding: 64px 0 40px;
}
.footer__col:nth-of-type(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__logo {
  display: block;
  height: 36px;
}
.footer__logo img {
  display: block;
  height: 100%;
  width: auto;
}
.footer__menu {
  margin: 64px 0;
}
.footer__menu ul {
  list-style: none;
}
.footer__menu li {
  line-height: 120%;
  color: var(--cstm-body-color-secondary);
  font-size: 20px;
}
.footer__menu li:not(:last-of-type) {
  margin-bottom: 32px;
}
.footer__menu a {
  text-decoration: none;
  color: inherit;
}
.footer__soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}
.footer__soc a {
  height: 36px;
  width: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
  border: solid 1px var(--cstm-body-border-color-primary);
}
.footer__soc img {
  width: 16px;
  height: auto;
  display: block;
}
.footer__bottom {
  margin-top: 64px;
  line-height: 133.3333333333%;
  font-size: 12px;
  text-align: center;
  color: var(--cstm-body-color-tertiary);
}
.footer__links {
  list-style: none;
  margin-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 12px;
}
.footer__links a {
  text-decoration: none;
  color: inherit;
}

@media (min-width: 768px) {
  .footer {
    padding: 32px 0;
  }
  .footer__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .footer__col:nth-of-type(1), .footer__col:nth-of-type(3) {
    width: 25%;
  }
  .footer__menu {
    margin: 0;
  }
  .footer__menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .footer__menu li:not(:last-of-type) {
    margin-bottom: 0;
    margin-right: 40px;
  }
  .footer__menu a {
    position: relative;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
  }
  .footer__menu a:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background: var(--cstm-body-background-accent);
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: right;
    -ms-transform-origin: right;
    transform-origin: right;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  }
  .footer__menu a:hover {
    opacity: 0.5;
  }
  .footer__menu a:hover:after {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
  }
  .footer__soc {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .footer__soc a {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .footer__soc a:hover {
    background: rgba(255, 215, 34, 0.2);
  }
  .footer__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .footer__links {
    margin-top: 0;
    gap: 24px;
  }
  .footer__links a {
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
  }
  .footer__links a:hover {
    color: var(--cstm-body-color-accent);
  }
}
.modal-shadow {
  position: fixed;
  pointer-events: none;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  height: 100svh;
  background: rgba(0, 0, 0, 0.9);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease 0.2s;
  transition: opacity 0.3s ease 0.2s;
}
.modal-shadow_active {
  opacity: 1;
  pointer-events: all;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}