$textPrimary: var(--cstm-body-color-primary);
$textSecondary: var(--cstm-body-color-secondary);
$textTertiary: var(--cstm-body-color-tertiary);
$textAccent: var(--cstm-body-color-accent);
$textPrimaryInverted: var(--cstm-body-color-primary-inverted);

$bgPrimary: var(--cstm-body-background-primary);
$bgAccent: var(--cstm-body-background-accent);
$bgPrimaryInverted: var(--cstm-body-background-primary-inverted);

$borderPrimary: var(--cstm-body-border-color-primary);
$borderSecondary: var(--cstm-body-border-color-secondary);

$fontPrimary: var(--cstm-body-font-family-primary);
$fontSecondary: var(--cstm-body-font-family-secondary);

$fontSize: var(--cstm-font-size);
$lineHeight: var(--cstm-line-height);
